build/**/*
!build/appicon.png
frontend/node_modules
frontend/dist
frontend/package-lock.json
frontend/bun.lock
frontend/package.json.md5
.idea/
go.sum

# In Future, This file will be replace!

my/
.mixin.out/
logs/
mmcll_test.go
wailsbuild.sh
wailsdev.sh
frontend/.vscode
authlib-injector.log
crypto_test.go
dev.bat
build.bat
runtime_test.go

# macOS
.DS_Store
__MACOSX
