build/**/*
!build/appicon.png
frontend/node_modules
frontend/dist
frontend/package-lock.json
frontend/bun.lock
frontend/package.json.md5
.idea/
go.sum

# ignore privacy.go!
# In Future, This file will be replace!

module/launcher/privacy.go
my/
.mixin.out/
*.log
logs/