body {
    margin: 0;
    padding: 0;
}
* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-synthesis: none;
    image-rendering: pixelated;
    flex-shrink: 0;
}
@font-face {
    font-family: "PCL";
    src: url("../fonts/PCL-English.ttf");
}
.font-pcl {
    font-family: "PCL";
}
.hint {
    margin-top: 5px;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 14px;
    /*border-left: 3px solid rgb(216, 41, 41);*/
    /*background-color: rgb(255, 221, 223);*/
    /*color: rgb(216, 41, 41);*/
}
.red-hint {
    border-left: 3px solid rgb(216, 41, 41);
    background-color: rgb(255, 221, 223);
    color: rgb(216, 41, 41);
}
.yellow-hint {
    border-left: 3px solid rgb(245, 122, 0);
    background-color: rgb(255, 235, 215);
    color: rgb(245, 122, 0);
}
.blue-hint {
    border-left: 3px solid rgb(17, 114, 212);
    background-color: rgb(217, 236, 255);
    color: rgb(17, 114, 212);
}
.version-all {
    margin: 10px 20px 10px 20px;
    width: calc(100% - 50px);
    height: max-content;
}
.proc {
    height: max-content;
    margin: 10px 25px 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cursor-pointer,
details {
    cursor: pointer;
}
.code {
    box-shadow: 0 0 3px black;
    background-color: lightgray;
    border-radius: 4px;
    color: black;
    padding: 0 5px;
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    font-size: 14px;
}
.side-icon {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.2);
}
*::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.4);
}
*::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
